<footer>
    <p style="margin: 0">
        Copyrights {{site.time | date: '%Y'}}. All Rights Reserved by {{site.title}}
    </p>
    <p style="margin: 0">
        <div>Follow our social media or connect with us:</div>
        <a href="https://www.facebook.com/samurohbandung/" target="_blank"><i class="fa fa-5x fa-facebook-square"></i></a></i>
        <a href="https://www.instagram.com/samuroh_bandung/" target="_blank"><i class="fa fa-5x fa-instagram"></i></a></i>
        <a href="https://wa.me/6281285561717?text=Assalamualaykum%20Samuroh" target="_blank"><i class="fa fa-5x fa-whatsapp"></i></a></i>
    </p>
    <!-- <p style="margin: 0">Image credits - <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
    <p style="margin: 0">Designed by - <a href="https://webjeda.com/" target="_blank"><strong>WebJeda</strong></a></p>
    <p style="margin: 0">Full version - <a href="{{site.full-version}}" target="_blank"><strong>Karna</strong></a></p> -->
</footer>